<!DOCTYPE html>
<html>
<head ng-app="app">
  <title>LunchMoneyBox</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"></link>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
 
  <nav class="navigation">
    <div class="text-center navigation-text">
      LunchMoneyBox.IO
    </div>
  </nav>
  <nav class="col-lg-12 navigation-bottom">
    <div class="col-lg-4 col-md-4"><i class="fa fa-thumbs-o-up"></i>  SA Catering</div>
    <div class="col-lg-4 col-md-4 text-center">
        <h1>Add Credit to Account</h1>
    </div>
  </nav>


<h2>$10.00 has been credited to your account. Thank you ! <strong>$10.00</strong>!</h2>

</body>
</html>
