
  <nav class="navigation">
    <div class="text-center navigation-text">
      LunchMoneyBox.IO
    </div>
  </nav>
  <nav class="col-lg-12 navigation-bottom">
    <div class="col-lg-4 col-md-4"><i class="fa fa-thumbs-o-up"></i>  SA Catering</div>
    <div class="col-lg-4 col-md-4 text-center">
        <h1>Add Credit to Account</h1>
    </div>
  </nav>


  <article>
    <label class="amount">
      <span>Amount: $10.00</span>
    </label>
  </article>


  <button id="process-transaction" class="btn btn-primary btn-block">Submit Payment</button>
  <script src="https://checkout.stripe.com/checkout.js"></script>




<script>

 $(document).ready(function() {

   var handler = StripeCheckout.configure({
     key: "<%=  Rails.configuration.stripe[:publishable_key] %>",
     name: "LunchMoneyBox",
     description: "A charge for a student meal",
     amount: "1000",
     currency: "USD",
     panelLabel: "Submit Payment",
     zipCode: true,
     email: "<%=current_parent.email%>",
     allowRememberMe: true,

     token: function(token) {
       console.log(token)
       $('#payment-form').append('<input type="hidden" name="card_token" value="'+ token.id +'"/> ');
       $.ajax({
         type: "POST",
         url: '<%= charges_path %>',
         data: {credit_card_token_id: token.id}
       })
      .done(function() {
        window.href.location = ("/dashboard/overview");
      })
      .fail(function() {
        alert("Something went wrong. Contact us at support@LunchMoneyBox.com");
      })
     }
   });


   $('#process-transaction').on('click', function(e) {
      handler.open({
        name: 'LunchMoneyBox',
        description: 'LunchMoneyBox',
        amount: 1000
      });
      e.preventDefault();
   });


   $(window).on('popstate', function() {
     handler.close();
   });



});

</script>



