<!DOCTYPE html>
<html>
<head>
  <title>Lunchbox</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"></link>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  

  <nav class="navigation">
    <div class="text-center navigation-text">
      LunchMoneyBox
      <span class="pull-right" style='color:yellow'>
        Beta
      </span>
    </div>
  </nav>
  <nav class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigation-bottom">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
      <i class="fa fa-thumbs-o-up"></i>  SA Catering
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
        <h1>Add Credit to your account</h1>
    </div>
  </nav>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
<h2>
 <article>
    <label class="amount">
      <span>$10.00</span>
    </label>
  </article>

<button id="process-transaction" class="btn btn-primary btn-block">Add to your LunchMoneyBox</button>
  <script src="https://checkout.stripe.com/checkout.js"></script>
</h2>
</div>


<script>

 $(document).ready(function() {

   var handler = StripeCheckout.configure({
     key: "<%=  Rails.configuration.stripe[:publishable_key] %>",
     name: "LunchMoneyBox",
     description: "A charge for a student meal",
     amount: "1000",
     currency: "USD",
     panelLabel: "Submit Payment",
     zipCode: true,
     email: "<%=current_parent.email%>",
     allowRememberMe: true,

     token: function(token) {
       console.log(token)
       $('#payment-form').append('<input type="hidden" name="card_token" value="'+ token.id +'"/> ');
       $.ajax({
         type: "POST",
         url: '<%= charges_path %>',
         data: {credit_card_token_id: token.id}
       })
      .done(function() {
        window.location.href = ("/dashboard/overview");
      })
      .fail(function() {
        alert("Something went wrong. Contact us at support@LunchMoneyBox.com");
      })
     }
   });


   $('#process-transaction').on('click', function(e) {
      handler.open({
        name: 'LunchMoneyBox',
        description: 'LunchMoneyBox',
        amount: 1000
      });
      e.preventDefault();
   });


   $(window).on('popstate', function() {
     handler.close();
   });



});

</script>
</body>
</html>



